/* Estilo Geral */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
  background-color: #000;
  height: 100vh;
}

.interface{
  max-width: 1100px;
  margin: 5 auto;
}

.flex{
  display: flex;
}

/* Estilo do cabeçalho */
header{
  padding: 40px 4%;
}

header > .interface{
display: flex;
    align-items: center;
    justify-content: space-between;
  }

header a{
  color: #5c5c5c;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
}

header a:hover{
  color: #fff;
  transform: scale(1.05);
}

header nav ul{
  list-style-type: none;
}
header nav ul li{
  display: inline-block;
  padding: 0 40px;
}
 
 .acs-contato button{
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: blueviolet;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;

}

.acs-contato button:hover{
  box-shadow: 0px 0px 10px  rgb(132, 0, 255);
  transform: scale(1.05);
}

/* Estilo do topo do site */
section.topo-do-site{
  padding: 40px 4%;

}

img {
  max-width: 150%;
  height: auto;
  display: block;
  margin: 0 auto;
}

h1{
 color: #fff; 
}

p{
  color: #fff;

 








